.filter{
    padding: 16px 24px;
    background-color: var(--sii-blanco);
    margin: 20px 0;
    label.col-form-label,
    .form-select {
      font-size: 16px;
      color: var(--sii-negro);
    }
  }

  .videos_content{
    .filter{
        background-color: var(--sii-gris3);
    }
  }