@media (max-width: 1440px) {
  .welcome_planeta {
    margin-bottom: 0;
    margin-top: 40px;
  }
}
@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
  .btn-filter {
    width: 100%;
  }
  .filter {
    &_item {
      margin-bottom: 15px;
    }
  }
  .footer {
    &__menu {
      padding-bottom: 23px;
    }
    .divider {
      &::after {
        content: "";
        opacity: 0;
      }
    }
  }
  .info_sii p{
    margin-bottom: 20px;
  }
}

@media (max-width: 575.98px) {
  .welcome_planeta {
    &__content_title {
      &__title {
        h3 {
          font-size: 28px;
        }
      }
    }
  }
}
