//Variables

$azul: #0061a1;
$blanco: #fff;
$negro: #000;
$celeste: #5ac6ff;
$morado: #7383c0;
$amarillo: #f9ae2b;
$rojo: #e9500d;
$gris: #d4dee6;
//background: #F9FAFC;
//#5AC6FF4D


:root {
  //--bs-navbar-color: #0061A1;
  --bs-emphasis-color-rgb: #0061a1;
  --bs-nav-link-color: #fff;
  --bs-navbar-color: #fff;
  --sii-rojo: #e9500d;
  --sii-azul: #0061a1;
  --sii-blanco: #fff;
  --sii-negro: #000;
  --sii-celeste: #5ac6ff;
  --sii-morado: #7383c0;
  --sii-amarillo: #f9ae2b;
  --sii-gris: #d4dee6;
  --sii-celeste-docente: #5AC6FF;
  --sii-amarillo-apoderado: #F9AE2B;
  --sii-morado-estudiantes: #7383C0;
  --sii-gris3: #F9FAFC;
  --sii-azul-oscuro: #090831;
  --sii-gris-oscuro: #333439;

  //Fonts
  --sii-h1:60px ;
  --sii-h2:48px ;
  --sii-h3:32px ;
  --sii-h4:28px ;
  --sii-h5: 24px ;
  --sii-h6:20px ;
  --sii-sub-subtitle:14px ;
  --sii-subtitle: 16px;
  --sii-parrafos:18px;



}
